@media (max-width: 1200px) {


    .container {

        grid-template-areas:
        "daniel"
        "jonathan"
        "jeanette"
        "patrick"
        "kira";
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 20px;
        
    }

    
}